#main-image {
	width: 100%;
}

#page-image {
	max-width: 600px;
}

.navbar {
	background-color: #161;
}

body {
	background-color: #111;
}

p, h1, h2, h3, h4, h5, li, hr {
	color: #f8e9ea;
}

pre {
	color: #cccccc;
}

.nav-link {
	color: #fff !important;
}

.active {
	text-decoration: underline;
}
